<nz-card [nzBordered]="false" style="float: right; width: 100%">
  <form nz-form [nzLayout]="'inline'" (ngSubmit)="getData()" class="search__form">
    <div nz-row [nzGutter]="{ xs: 8, sm: 8, md: 8, lg: 24, xl: 48, xxl: 48 }">
      <div nz-col nzMd="8" nzSm="24">
        <nz-form-item>
          <nz-form-label nzFor="roleName">Role Name</nz-form-label>
          <nz-form-control>
            <input nz-input [(ngModel)]="query.roleName" name="roleName" placeholder="Please enter role name" id="roleName"/>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col nzMd="8" nzSm="24">
        <nz-form-item>
          <nz-form-label nzFor="remark">Remark</nz-form-label>
          <nz-form-control>
            <input nz-input [(ngModel)]="query.remark" name="remark" placeholder="Please enter remark" id="remark"/>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col [nzSpan]="expandForm ? 24 : 8" [class.text-right]="expandForm">
        <button nz-button type="submit" [nzType]="'primary'" [nzLoading]="loading">Search</button>
        <button nz-button type="reset" (click)="reset()" class="mx-sm">Reset</button>
      </div>
    </div>
  </form>
  <st #st [columns]="columns" [data]="allDataList" [loading]="loading" [total]="total"></st>
</nz-card>
<nz-modal [nzVisible]="isAuthAssignmentsVisible" nzTitle="Assign Authorities" nzWidth="800" nzFooter=" " (nzOnCancel)="handleAssignmentsCancel()">
  <app-menu *ngIf="roleId !== 0" [roleId]="roleId" (childEvent)="getChildEvent($event)"></app-menu>
</nz-modal>
<nz-modal [nzVisible]="isAuthDetailsVisible" nzTitle="Remark Details" nzWidth="800" nzFooter=" " (nzOnCancel)="handleDetailsCancel()">
  <app-role-menu-list *ngIf="roleId !== 0" [roleId]="roleId" (childEvent)="getChildEvent($event)"></app-role-menu-list>
</nz-modal>
