<nz-card [nzBordered]="false">
  <nz-page-header class="site-page-header" nzBackIcon [nzTitle]="client.id ? 'Edit Client' : 'Create Client'">
  </nz-page-header>
  <form nz-form [formGroup]="form" se-container="1" labelWidth="200">
    <se label="Name" error="Please enter the name">
      <input nz-input formControlName="name" placeholder="Please enter the name" [(ngModel)]="client.name"
             style="width: calc(100% - 400px);"/>
    </se>
    <se label="Phone" error="Please enter the phone number">
      <input nz-input formControlName="telno" placeholder="Please enter the phone number" [(ngModel)]="client.telNo"
             style="width: calc(100% - 400px);"/>
    </se>
    <se label="Address" error="Please enter the address">
      <input nz-input formControlName="address" placeholder="Please enter the address" [(ngModel)]="client.address"
             style="width: calc(100% - 400px);"/>
    </se>
    <se>
      <button *ngIf="client.id" nz-button nzType="primary" (click)="update()" [disabled]="form.invalid">Submit</button>
      <button *ngIf="!client.id" nz-button class="ml-sm">Save</button>
      <button nz-button (click)="goBack()">Return</button>
    </se>
  </form>
</nz-card>
