<nz-card [nzBordered]="false">
  <form nz-form [nzLayout]="'inline'" (ngSubmit)="getData()" class="search__form">
    <div nz-row [nzGutter]="{ xs: 8, sm: 8, md: 8, lg: 24, xl: 48, xxl: 48 }">
      <div nz-col nzMd="8" nzSm="24">
        <nz-form-item>
          <nz-form-label nzFor="name">Type Name</nz-form-label>
          <nz-form-control>
            <input
              nz-input
              [(ngModel)]="query.param1"
              name="param1"
              placeholder="Please enter"
              id="param1"/>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col nzMd="8" nzSm="24">
        <nz-form-item>
          <nz-form-label nzFor="name">Field Name</nz-form-label>
          <nz-form-control>
            <input
              nz-input
              [(ngModel)]="query.param2"
              name="param2"
              placeholder="Please enter"
              id="param2"/>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col [nzSpan]="expandForm ? 24 : 8" [class.text-right]="expandForm">
        <button nz-button type="submit" [nzType]="'primary'" [nzLoading]="loading">Search</button>
        <button nz-button type="reset" (click)="reset()" class="mx-sm">Reset</button>
      </div>
    </div>
  </form>
  <button nz-button (click)="create()" [nzType]="'primary'">
    <i nz-icon nzType="plus"></i>
    <span>New</span>
  </button>
  <st
    #st
    [columns]="columns"
    [data]="data"
    [loading]="loading"
    [total]="total"
    (change)="stChange($event)">
  </st>
</nz-card>
<ng-template #modalContent>
  <nz-form-item>
    <nz-form-label nzFor="typeid">Type ID</nz-form-label>
    <nz-form-control>
      <input nz-input [(ngModel)]="basecode.typeid" name="typeid" placeholder="Please enter" id="typeid"/>
    </nz-form-control>
    <nz-form-label nzFor="typename">Type Name</nz-form-label>
    <nz-form-control>
      <input nz-input [(ngModel)]="basecode.typename" name="typename" placeholder="Please enter" id="typename"/>
    </nz-form-control>
    <nz-form-label nzFor="basecode">Field ID</nz-form-label>
    <nz-form-control>
      <input nz-input [(ngModel)]="basecode.basecode" name="basecode" placeholder="Please enter" id="basecode"/>
    </nz-form-control>
    <nz-form-label nzFor="basecodename">Field Name</nz-form-label>
    <nz-form-control>
      <input nz-input [(ngModel)]="basecode.basecodename" name="basecodename" placeholder="Please enter" id="basecodename"/>
    </nz-form-control>
  </nz-form-item>
</ng-template>
