<nz-card [nzBordered]="false">
  <nz-page-header class="site-page-header" nzTitle="">
    <nz-breadcrumb nz-page-header-breadcrumb>
      <nz-breadcrumb-item>Current</nz-breadcrumb-item>
      <nz-breadcrumb-item>
        <a routerLink="/sys/basecode/list">Data Dictionary</a>
      </nz-breadcrumb-item>
      <nz-breadcrumb-item>
        Edit Data Dictionary
      </nz-breadcrumb-item>
    </nz-breadcrumb>
  </nz-page-header>
  <form nz-form [formGroup]="form" se-container="1" labelWidth="200">
    <se label="Data Type ID" error="Please enter basic data type id" required>
      <input nz-input formControlName="typeid" placeholder="Please enter basic data type id" [(ngModel)]="basecode.typeid"
             style="width: calc(100% - 400px);"/>
    </se>
    <se label="Data Type Name" error="Please enter basic data type name" required>
      <input nz-input formControlName="typename" placeholder="Please enter basic data type name" [(ngModel)]="basecode.typename"
             style="width: calc(100% - 400px);"/>
    </se>
    <se label="Field ID" error="Please enter field id" required>
      <input nz-input formControlName="basecode" placeholder="Please enter field id" [(ngModel)]="basecode.basecode"
             style="width: calc(100% - 400px);"/>
    </se>
    <se label="Field Name" error="Please enter field name" required>
      <input nz-input formControlName="basecodename" placeholder="Please enter field name" [(ngModel)]="basecode.basecodename"
             style="width: calc(100% - 400px);"/>
    </se>
    <se>
      <button *ngIf="basecode.id" nz-button nzType="primary" (click)="update()" [disabled]="form.invalid">Submit</button>
      <button *ngIf="!basecode.id" nz-button class="ml-sm">Save</button>
      <button nz-button (click)="goBack()">Back</button>
    </se>
  </form>
</nz-card>
