<nz-card [nzBordered]="false">
  <form nz-form [nzLayout]="'inline'" (ngSubmit)="getData()" class="search__form">
    <div nz-row [nzGutter]="{ xs: 8, sm: 8, md: 8, lg: 24, xl: 48, xxl: 48 }">
      <div nz-col nzMd="8" nzSm="24">
        <nz-form-item>
          <nz-form-label nzFor="name">Parent ID</nz-form-label>
          <nz-form-control>
            <input nz-input [(ngModel)]="query.parentId" name="parentId" placeholder="Please enter" id="parentId"/>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col nzMd="8" nzSm="24">
        <nz-form-item>
          <nz-form-label nzFor="text">Menu Name</nz-form-label>
          <nz-form-control>
            <input nz-input [(ngModel)]="query.text" name="text" placeholder="Please enter" id="menuName"/>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col [nzSpan]="expandForm ? 24 : 8" [class.text-right]="expandForm">
        <button nz-button type="submit" [nzType]="'primary'" [nzLoading]="loading">Search</button>
        <button nz-button type="reset" (click)="reset()" class="mx-sm">Reset</button>
      </div>
    </div>
  </form>
  <button nz-button (click)="download()">Export</button>
  <button nz-button (click)="import()">Import</button>
  <input type="file" (change)="change($event)" multiple="false" class="ml-sm">
  <st
    #st
    [columns]="columns"
    [data]="data"
    [loading]="loading"
    (change)="stChange($event)">
  </st>
</nz-card>
<ng-template #modalContent>
  <nz-tabset>
    <nz-tab nzTitle="Create new level 1 Menu">
      <nz-form-item>
        <nz-form-label nzFor="text">Menu Name</nz-form-label>
        <nz-form-control>
          <input
            nz-input
            [(ngModel)]="menu.text"
            name="text"
            placeholder="Please enter"
            id="text_1"/>
        </nz-form-control>
        <nz-form-label nzFor="i18n">Menu Code</nz-form-label>
        <nz-form-control>
          <input
            nz-input
            [(ngModel)]="menu.i18n"
            name="i18n"
            placeholder="Please enter"
            id="i18n_1"/>
        </nz-form-control>
        <nz-form-label nzFor="link">Menu Link</nz-form-label>
        <nz-form-control>
          <input
            nz-input
            [(ngModel)]="menu.link"
            name="link"
            placeholder="Please enter"
            id="link_1"/>
        </nz-form-control>
        <nz-form-label nzFor="icon">Menu Icon</nz-form-label>
        <nz-form-control>
          <input
            nz-input
            [(ngModel)]="menu.icon"
            name="icon"
            placeholder="Please enter"
            id="icon_1"/>
        </nz-form-control>
      </nz-form-item>
    </nz-tab>
    <nz-tab nzTitle="Create new level 2 menu">
      <nz-form-item>
        <nz-form-label nzFor="parentId">Level 1 Menu</nz-form-label>
        <nz-form-control>
          <nz-select [(ngModel)]="parentId" name="parentId" id="parentIdCreate" style="width: 100%">
            <nz-option *ngFor="let menu of firstMenus" [nzValue]="menu.id" [nzLabel]="menu.text"></nz-option>
          </nz-select>
        </nz-form-control>
        <nz-form-control>
          <input
            nz-input
            [(ngModel)]="menu.text"
            name="text"
            placeholder="Please enter"
            id="text_2"/>
        </nz-form-control>
        <nz-form-label nzFor="i18n">Menu Code</nz-form-label>
        <nz-form-control>
          <input
            nz-input
            [(ngModel)]="menu.i18n"
            name="i18n"
            placeholder="Please enter"
            id="i18n_2"/>
        </nz-form-control>
        <nz-form-label nzFor="link">Menu Link</nz-form-label>
        <nz-form-control>
          <input
            nz-input
            [(ngModel)]="menu.link"
            name="link"
            placeholder="Please enter"
            id="link_2"/>
        </nz-form-control>
        <nz-form-label nzFor="icon">Menu Icon</nz-form-label>
        <nz-form-control>
          <input
            nz-input
            [(ngModel)]="menu.icon"
            name="icon"
            placeholder="Please enter"
            id="icon_2"/>
        </nz-form-control>
        <nz-form-label nzFor="createTime">Create Time</nz-form-label>
        <nz-form-control>
          <nz-date-picker
            formControlName="createTime"
            nzShowTime
            nzFormat="YYYY-MM-DD HH:MM:SS"
            nzDisabled=false
            [(ngModel)]="menu.createTime">
          </nz-date-picker>
        </nz-form-control>
      </nz-form-item>
    </nz-tab>
  </nz-tabset>
</ng-template>
