<nz-card [nzBordered]="false">
  <nz-page-header class="site-page-header" nzTitle="">
    <nz-breadcrumb nz-page-header-breadcrumb>
      <nz-breadcrumb-item>Current</nz-breadcrumb-item>
      <nz-breadcrumb-item>
        <a routerLink="/product/list">Products</a>
      </nz-breadcrumb-item>
      <nz-breadcrumb-item>
        {{ product.id ? 'Edit Product' : 'Create Product' }}
      </nz-breadcrumb-item>
    </nz-breadcrumb>
  </nz-page-header>
  <form nz-form [formGroup]="form" se-container="1" labelWidth="200">
    <se label="Name" error="Please enter">
      <input nz-input formControlName="title" placeholder="Please enter" [(ngModel)]="product.title"
        style="width: calc(100% - 400px);"/>
    </se>
    <se label="Specs" error="Please enter">
      <input nz-input formControlName="spec" placeholder="Please enter" [(ngModel)]="product.spec"
        style="width: calc(100% - 400px);"/>
    </se>
    <se label="Serial Number" error="Please enter">
      <input nz-input formControlName="serialNo" placeholder="Please enter" [(ngModel)]="product.serialNo"
        style="width: calc(100% - 400px);"/>
    </se>
    <se label="Type" error="Please enter">
      <input nz-input formControlName="type" placeholder="Please enter" [(ngModel)]="product.type"
        style="width: calc(100% - 400px);"/>
    </se>
    <se label="Brand" error="Please enter">
      <input nz-input formControlName="brand" placeholder="Please enter" [(ngModel)]="product.brand"
        style="width: calc(100% - 400px);"/>
    </se>
    <se label="Manufacturing Date" error="Please enter">
      <nz-date-picker formControlName="produceTime" nzShowTime nzFormat="YYYY-MM-DD HH:mm:ss" nzDisabled="false"
        [(ngModel)]="product.produceTime">
      </nz-date-picker>
    </se>
    <se label="Description" error="Please enter">
      <input nz-input formControlName="description" placeholder="Please enter" [(ngModel)]="product.description"
        style="width: calc(100% - 400px);"/>
    </se>
    <se>
      <button *ngIf="product.id" nz-button nzType="primary" (click)="save()" [disabled]="form.invalid">Submit</button>
      <button *ngIf="!product.id" nz-button class="ml-sm" nzType="primary" (click)="save()">Save</button>
      <button nz-button (click)="goBack()">Back</button>
    </se>
  </form>
</nz-card>
