<nz-card [nzBordered]="false">
  <nz-page-header class="site-page-header" nzBackIcon [nzTitle]="project.id ? 'Edit Project' : 'Create Project'">
  </nz-page-header>
  <form nz-form [formGroup]="formGroup" se-container="1" labelWidth="200">
    <se label="Name" error="Please enter name">
      <input nz-input formControlName="name" placeholder="Please enter name" [(ngModel)]="project.name"
        style="width: calc(100% - 400px);"/>
    </se>
    <se label="Contract" error="Please select contract">
      <nz-input-group nzSearch nzSize="default" [nzAddOnAfter]="suffixButton1" style="width: calc(100% - 400px);">
        <input type="text" nz-input placeholder="Please select contract" formControlName="contractId" [(ngModel)]="contractName" disabled/>
      </nz-input-group>
      <ng-template #suffixButton1>
        <button nz-button nzType="primary" nzSize="default" nzSearch (click)="handleOpen(1)">Please select</button>
      </ng-template>
    </se>
    <se label="Description" error="Please enter description">
      <textarea nz-input formControlName="description" placeholder="Please enter description" [(ngModel)]="project.description"
        style="width: calc(100% - 400px);">
      </textarea>
    </se>
    <se label="Address" error="Please enter address">
      <input nz-input formControlName="address" placeholder="Please enter address" [(ngModel)]="project.address"
        style="width: calc(100% - 400px);"/>
    </se>
    <!--<se label="Client" error="Please enter client">
      <input nz-input formControlName="clientId" placeholder="Please enter client" [(ngModel)]="project.clientId"
        style="width: calc(100% - 400px);" type="number"/>
    </se>-->
    <se label="Client" error="Please select client" required>
      <nz-input-group>
        <nz-select formControlName="clientId" nzShowSearch nzPlaceHolder="Please select client" [(ngModel)]="project.clientId"
                   [nzShowArrow]="false" [nzFilterOption]="nzFilterOption()" (nzOnSearch)="search($event, 2)" style="width: calc(100% - 400px);">
          <nz-option *ngFor="let o of clientOptions" [nzLabel]="o.name" [nzValue]="o.id"></nz-option>
        </nz-select>
      </nz-input-group>
    </se>
    <se label="" error="Please enter">
      <nz-date-picker formControlName="deliveryTime" nzShowTime nzFormat="YYYY-MM-DD HH:mm:ss" nzDisabled=false
                      [(ngModel)]="deliveryTime">
      </nz-date-picker>
    </se>
    <se label="" error="Please enter">
      <nz-date-picker formControlName="acceptTime" nzShowTime nzFormat="YYYY-MM-DD HH:mm:ss" nzDisabled=false
                      [(ngModel)]="acceptTime">
      </nz-date-picker>
    </se>
    <se label="Guarantee Type" error="Please enter guarantee type">
      <input nz-input formControlName="guaranteeType" placeholder="Please enter guarantee type" [(ngModel)]="project.guaranteeType"
        style="width: calc(100% - 400px);"/>
    </se>
    <se label="Guarantee Type" error="Please select guarantee type" required>
      <nz-input-group>
        <nz-select
          formControlName="guaranteeType"
          nzShowSearch
          nzServerSearch
          nzPlaceHolder="Please select guarantee type"
          [(ngModel)]="project.guaranteeType"
          [nzShowArrow]="false"
          [nzFilterOption]="nzFilterOption"
          (nzOnSearch)="search($event, 1)"
          style="width: calc(100% - 400px);"
        >
          <nz-option *ngFor="let o of basecodeOptions" [nzLabel]="o.basecodename" [nzValue]="o.basecode"> </nz-option>
        </nz-select>
      </nz-input-group>
    </se>
    <se label="Guarantee Month" error="Please enter guarantee month">
      <input nz-input formControlName="guaranteeMonth" placeholder="Please enter guarantee month" [(ngModel)]="project.guaranteeMonth"
        style="width: calc(100% - 400px);"/>
    </se>
    <se label="" error="Please enter">
      <nz-date-picker formControlName="guaranteeDueTime" nzShowTime nzFormat="YYYY-MM-DD HH:mm:ss" nzDisabled=false
                      [(ngModel)]="guaranteeDueTime">
      </nz-date-picker>
    </se>
    <se label="Staff" error="Please enter staff">
      <input nz-input formControlName="staffId" placeholder="Please enter guarantee staff" [(ngModel)]="project.staffId"
        style="width: calc(100% - 400px);"/>
    </se>
    <se label="File">
      <div class="clearfix">
        <nz-upload class="upload-list-inline" nzAction="http://localhost:8080/file/uploadoos" nzListType="picture" [(nzFileList)]="fileList"
          (nzChange)="handleChange($event)" [nzShowButton]="fileList.length < 1"
        >
          <button nz-button>
            <span><i nz-icon nzType="upload"></i> 上传</span>
          </button>
        </nz-upload>
      </div>
    </se>
    <se>
      <button *ngIf="project.id" nz-button nzType="primary" (click)="save()" [disabled]="formGroup.invalid">Submit</button>
      <button *ngIf="!project.id" nz-button class="ml-sm" nzType="primary" (click)="save()">Save</button>
      <button nz-button (click)="goBack()">Return</button>
    </se>
  </form>
</nz-card>
