<div class="alain-default__header-logo">
  <!--<a [routerLink]="['/']" class="alain-default__header-logo-link">
    <img class="alain-default__header-logo-expanded" src="./assets/logo-full.svg" alt="{{ settings.app.name }}"
      style="max-height:40px;" />
    <img class="alain-default__header-logo-collapsed" src="./assets/logo.svg" alt="{{ settings.app.name }}"
      style="max-height:30px;" />
  </a>-->
<!--  <button nz-button nzType="primary" (click)="open()">Open</button>-->
  <nz-drawer [nzClosable]="false" [nzVisible]="visible" nzPlacement="left" nzTitle="Basic Drawer" (nzOnClose)="close()">
    <ul nz-menu nzMode="inline" style="width: 232px">
      <li nz-submenu nzTitle="Navigation One" nzIcon="mail" nzOpen>
        <ul>
          <li nz-menu-group nzTitle="Item 1">
            <ul>
              <li nz-menu-item nzSelected>Option 1</li>
              <li nz-menu-item>Option 2</li>
            </ul>
          </li>
          <li nz-menu-group nzTitle="Item 2">
            <ul>
              <li nz-menu-item>Option 3</li>
              <li nz-menu-item>Option 4</li>
            </ul>
          </li>
        </ul>
      </li>
      <li nz-submenu nzTitle="Navigation Two" nzIcon="appstore">
        <ul>
          <li nz-menu-item>Option 5</li>
          <li nz-menu-item>Option 6</li>
          <li nz-submenu nzTitle="Submenu">
            <ul>
              <li nz-menu-item>Option 7</li>
              <li nz-menu-item>Option 8</li>
              <li nz-submenu nzTitle="Submenu">
                <ul>
                  <li nz-menu-item>Option 9</li>
                  <li nz-menu-item>Option 10</li>
                </ul>
              </li>
            </ul>
          </li>
        </ul>
      </li>
      <li nz-submenu nzTitle="Navigation Three" nzIcon="setting">
        <ul>
          <li nz-menu-item>Option 11</li>
          <li nz-menu-item>Option 12</li>
          <li nz-menu-item>Option 13</li>
        </ul>
      </li>
    </ul>
  </nz-drawer>

  <ul nz-menu nzMode="horizontal" style="border-bottom: none; background: #b1c3d5">
    <li nz-submenu nzIcon="appstore" (mouseover)="open()" style="border-bottom: none; background: #b1c3d5">
      <ul>
        <li nz-menu-item>
          <a [routerLink]="['/dashboard/v1']">Main Page</a>
        </li>
        <li nz-submenu nzTitle="Program">
          <ul>
            <li nz-menu-item><a [routerLink]="'/project'">Project</a></li>
          </ul>
        </li>
        <li nz-submenu nzTitle="System">
          <ul>
            <li nz-menu-item><a [routerLink]="['/sys/user/list']">User</a></li>
            <li nz-menu-item><a [routerLink]="['/sys/role/list']">Role</a></li>
            <li nz-menu-item><a [routerLink]="['/sys/org/list']">Organization</a></li>
          </ul>
        </li>
      </ul>
    </li>
  </ul>
</div>

<div class="alain-default__nav-wrap">
  <ul class="alain-default__nav">
    <!--&lt;!&ndash; Menu &ndash;&gt;
    <li>
      <div class="alain-default__nav-item" (click)="toggleCollapsedSidebar()">
        <i nz-icon nzType="menu-{{ settings.layout.collapsed ? 'unfold' : 'fold' }}"></i>
      </div>
    </li>
    &lt;!&ndash; Lock Page &ndash;&gt;
    <li class="hidden-mobile">
      <div class="alain-default__nav-item" routerLink="/passport/lock">
        <i nz-icon nzType="lock"></i>
      </div>
    </li>-->
  </ul>
  <!-- <header-search class="alain-default__search" [toggleChange]="searchToggleStatus"></header-search> -->
  <ul class="alain-default__nav">
    <li class="hidden-mobile">
      <div class="alain-default__nav-item">
        <img src="assets/imgs/home.png"/>
      </div>
    </li>
    <li class="hidden-mobile">
      <div class="alain-default__nav-item">
        <img src="assets/imgs/contact.png"/>
      </div>
    </li>
    <!-- Notify -->
    <!--<li>
      <header-notify></header-notify>
    </li>-->
    <!-- Task -->
    <li class="hidden-mobile">
      <header-task></header-task>
    </li>
    <!-- Settings -->
    <li class="hidden-mobile">
      <div
        class="alain-default__nav-item"
        nz-dropdown
        [nzDropdownMenu]="settingsMenu"
        nzTrigger="click"
        nzPlacement="bottomRight">
<!--        <i nz-icon nzType="setting"></i>-->
        <img src="assets/imgs/setting.png"/>
      </div>
      <nz-dropdown-menu #settingsMenu="nzDropdownMenu">
        <div nz-menu style="width:200px;">
          <div nz-menu-item>
            <header-fullscreen></header-fullscreen>
          </div>
          <div nz-menu-item>
            <header-storage></header-storage>
          </div>
          <div nz-menu-item>
            <header-i18n></header-i18n>
          </div>
        </div>
      </nz-dropdown-menu>
    </li>
    <li class="hidden-mobile">
      <div class="alain-default__nav-item">
        <img src="assets/imgs/help.png"/>
      </div>
    </li>
    <li class="hidden-mobile">
      <header-user></header-user>
    </li>
    <li class="hidden-mobile">
      <img src="assets/imgs/login-logo.png" style="width: 150px; height: 40px"/>
    </li>
  </ul>
</div>
