<div class="alain-default__header-logo">
  <nz-drawer [nzClosable]="false" [nzVisible]="visible" nzPlacement="left" nzTitle="" (nzOnClose)="close()">
    <ul nz-menu nzMode="inline" style="width: 232px">
      <li nz-submenu>
        <span title>
          <img src="assets/imgs/menu/form.png">
          <span style="color: #23282E;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Work Orders</span>
        </span>
        <ul>
          <li nz-menu-group nzTitle="Item 1">
            <ul>
              <li nz-menu-item>
                <a [routerLink]="['/dashboard/v1']">Main Page</a>
              </li>
            </ul>
          </li>
          <li nz-menu-group nzTitle="Programs">
            <ul>
              <li nz-menu-item>
                <a [routerLink]="'/project'">Project</a>
              </li>
            </ul>
          </li>
        </ul>
      </li>
      <li nz-submenu nzTitle="Navigation Two" nzIcon="appstore"></li>
      <li nz-submenu nzTitle="Navigation Three" nzIcon="setting"></li>
      <li nz-submenu nzTitle="Navigation Two" nzIcon="appstore"></li>
      <li nz-submenu nzTitle="Navigation Three" nzIcon="setting"></li>
      <li nz-submenu nzTitle="Navigation Two" nzIcon="appstore"></li>
      <li nz-submenu nzTitle="Navigation Three" nzIcon="setting"></li>
      <li nz-submenu nzTitle="Navigation Two" nzIcon="appstore"></li>
      <li nz-submenu nzTitle="Navigation Three" nzIcon="setting"></li>
    </ul>
  </nz-drawer>
  <a nz-dropdown [nzDropdownMenu]="menu">
    <img src="assets/imgs/menu/menu.svg"/>
  </a>
  <nz-dropdown-menu #menu="nzDropdownMenu">
    <ul nz-menu style="background-color: #b1c3d5;  width:170px;height: 900px;">
      <a [routerLink]="['/repair']">
        <li nz-menu-item nz-submenu>
          <span title>
            <img src="assets/imgs/menu/work_orders.svg">
            <span style="color: #23282E">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Work Orders</span>
          </span>
          <ul>
            <li nz-menu-item>
              <a [routerLink]="['/repair/contract/list']">Contracts</a>
            </li>
          </ul>
        </li>
      </a>
      <a [routerLink]="['/client']">
        <li nz-menu-item>
          <span title>
            <img src="assets/imgs/menu/clients.svg">
            <span style="color: #23282E">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Clients</span>
          </span>
        </li>
      </a>
      <a [routerLink]="['/project']">
        <li nz-menu-item>
          <span title>
            <img src="assets/imgs/menu/projects.svg">
            <span style="color: #23282E">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Projects</span>
          </span>
        </li>
      </a>
      <a [routerLink]="['/product']">
        <li nz-menu-item>
          <span title>
            <img src="assets/imgs/menu/products.svg">
            <span style="color: #23282E">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Product</span>
          </span>
        </li>
      </a>
      <a [routerLink]="['/sys/org/list']">
        <li nz-menu-item>
          <span title>
            <img src="assets/imgs/menu/departments.svg">
            <span style="color: #23282E">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Departments</span>
          </span>
        </li>
      </a>
      <a [routerLink]="['/sys/attachment/list']">
        <li nz-menu-item>
        <span title>
          <img src="assets/imgs/menu/knowledge.svg">
          <span style="color: #23282E">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Knowledge</span>
        </span>
        </li>
      </a>
      <a [routerLink]="['/accessory']">
        <li nz-menu-item>
          <span title>
            <img src="assets/imgs/menu/accessories.svg">
            <span style="color: #23282E">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Accessories</span>
          </span>
        </li>
      </a>
      <li nz-menu-item>
        <span title>
          <img src="assets/imgs/menu/communications.svg">
          <span style="color: #23282E">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Communications</span>
        </span>
      </li>
      <li nz-menu-item>
        <span title>
          <img src="assets/imgs/menu/equipments.svg">
          <span style="color: #23282E">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Equipments</span>
        </span>
      </li>
      <li nz-menu-item>
        <span title>
          <img src="assets/imgs/menu/analysis.svg">
          <span style="color: #23282E">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Analysis</span>
        </span>
      </li>
      <li nz-menu-item>
        <span title>
          <img src="assets/imgs/menu/monitoring.svg">
          <span style="color: #23282E">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Monitoring</span>
        </span>
      </li>
      <li nz-menu-item nz-submenu>
        <span title>
          <img src="assets/imgs/menu/work_orders.svg">
          <span style="color: #23282E">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Management</span>
        </span>
        <ul>
          <li nz-menu-item>
            <a [routerLink]="['/sys/basecode/list']">Data Dictionary</a>
          </li>
          <li nz-menu-item>
            <a [routerLink]="['/sys/user/list']">Users</a>
          </li>
          <li nz-menu-item>
            <a [routerLink]="['/sys/org/list']">Departments</a>
          </li>
        </ul>
      </li>
      <li nz-menu-item nz-submenu>
        <span title>
          <img src="assets/imgs/menu/settings.svg">
          <span style="color: #23282E">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;System</span>
        </span>
        <ul>
          <li nz-menu-item>
            <a [routerLink]="['/sys/role/list']">Roles</a>
          </li>
          <li nz-menu-item>
            <a [routerLink]="['/sys/user/update']">Change Password</a>
          </li>
        </ul>
      </li>
      <li nz-menu-item nz-submenu>
        <span title>
          <img src="assets/imgs/menu/information.svg">
          <span style="color: #23282E">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Information</span>
        </span>
      </li>
      <li nz-menu-item>
        <span title>
          <img src="assets/imgs/menu/help.svg">
          <span style="color: #23282E">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Help</span>
        </span>
      </li>
    </ul>
  </nz-dropdown-menu>
  <div></div>
</div>
<div class="alain-default__nav-wrap">
  <ul class="alain-default__nav">

  </ul>
  <div class="alain-default__nav">
    <div class="hidden-mobile">
      <div class="alain-default__nav-item">
        <img src="assets/imgs/header/home.svg"/>
      </div>
    </div>
    <div class="hidden-mobile">
      <div class="alain-default__nav-item"  nz-dropdown [nzDropdownMenu]="contact">
        <img src="assets/imgs/header/contact.svg"/>
        <nz-dropdown-menu #contact="nzDropdownMenu">
          <div nz-menu>
            <div nz-menu-item>
              Toll Free
            </div>
            <div nz-menu-item>
              Customer Service
            </div>
          </div>
        </nz-dropdown-menu>
      </div>
    </div>
    <div class="hidden-mobile">
      <header-task></header-task>
    </div>
    <div class="hidden-mobile">
      <div class="alain-default__nav-item" nz-dropdown [nzDropdownMenu]="settingsMenu" nzPlacement="bottomRight">
        <img src="assets/imgs/header/settings.svg"/>
      </div>
      <nz-dropdown-menu #settingsMenu="nzDropdownMenu">
        <div nz-menu>
          <a routerLink="['/sys/org/list']">
            <div nz-menu-item>
              Departments
            </div>
          </a>
          <a [routerLink]="['/sys/user/list']">
            <div nz-menu-item>
              Accounts
            </div>
          </a>
          <a routerLink="['/sys/basecode/list']">
            <div nz-menu-item>
              Data Dictionary
            </div>
          </a>
          <div nz-menu-item>
            Logs
          </div>
        </div>
      </nz-dropdown-menu>
    </div>
    <div class="hidden-mobile">
      <div class="alain-default__nav-item">
        <img src="assets/imgs/header/help.svg"/>
      </div>
    </div>
    <div class="hidden-mobile">
      <header-user></header-user>
    </div>
    <div class="hidden-mobile">
      <img src="assets/imgs/logo.svg" style="width: 150px; height: 40px"/>
    </div>
  </div>
</div>
